{% extends "bootstrap/base.html" %}
{% import "visujax/gridder.html" as gridder %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" 
       href="{{ url_for('static', filename='visujax/jquery.jqplot.css') }}" />
{% endblock %}

{% block content %}
{{ gridder.render_html(content) }}
{% endblock %}

{% block scripts %}
    {{super()}}

    <script language="javascript" type="text/javascript" 
        src="{{ url_for('static', filename='visujax/jquery.jqplot.js') }}"></script>
    <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript"> {{ g.sijax.get_js()|safe }} </script>
    <script type="text/javascript" src="/static/visujax/form2js.js"></script>
    <script type="text/javascript" src="/static/visujax/visujax.js"></script>

    {{ gridder.render_js(content) }}
{% endblock %}
